@import "../../varibales";

.root {
  border: none;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 9px;
  cursor: pointer;
  outline: 0;

  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;

  min-width: 230px;

  color: $dark;

  &:active {
    box-shadow: inset 0px -6px 0px rgba(0, 0, 0, 0.18);
    padding-bottom: 6px;
  }
}

.default {
  background: $green;
}

.third {
  background-color: $third;
}
