@import "../../varibales";

.root {
  height: $menuHeightDesktop;
  width: 100%;
  background: $third;
  box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 63px;
}
