@import '../../../../breakpoints';

.root {
  width: 793px;
  height: 680px;
  position: relative;
  margin-right: -159px;

  @include media('<=tablet') {
    margin-right: 0;
    overflow: hidden;
    width: calc(100% + 60px);
    margin: 0 -30px;
  }
}

.smallPokeBall {
  position: absolute;
  top: 1%;
  left: 1%;
}

.cloud {
  position: absolute;
  left: 12.31%;
  bottom: 39.22%;

  @include media('>=tablet', '<desktop') {
    left: 5%;
  }
}

.cloudBig {
  position: absolute;
  left: 49.86%;
  top: -3%;

  @include media('>=tablet', '<desktop') {
    top: 1%;
  }
}

.pokeBall {
  position: absolute;
  top: 24.38%;
  right: -12%;
}

.pikachu {
  position: absolute;
  top: 0%;
  left: 4.11%;

  @include media('>=tablet', '<desktop') {
    left: -5%;
  }

  @include media('<tablet') {
    left: -11%;
  }
}
